#app {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.clickable {
  cursor: pointer;
}

.form-info-record {
  height: 100%;
}

.form-info-record .working-space {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.working-space button.add {
  margin: 1rem 0;
  background-color: #a9dbe9;
}
.working-space button.copy-to-clipboard {
  margin: 1rem 0;
  background-color: #caefc1;
}

.working-space .info-records {
  flex: 7;
  max-height: 40vh;
  overflow-y: scroll;
}

.working-space .actions {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.working-space button {
	width: 100%
}

.working-space .result {
  flex: 2;
}

.working-space .result textarea {
  width: 100%;
  height: 50%;
  white-space: pre;
}

.info-record {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.control-group {
  display: flex;
  flex-direction: column;
}

.control-group label {
  text-align: start;
}

.form-label {
  text-align: start;
}

.form-label label {
  margin-right: 0.5rem;
}

.required {
  color: red;
}

.form-half-input-dropdown select {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid grey;
  border-left: none;
  padding: 1px 2px;
}

.form-half-input-dropdown input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid grey;
  padding: 2px 1px;
}

.form-half-input-dropdown .active {
  background-color: rgb(219, 233, 199);
}

/* ---------------------------- switch from w3 ---------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.form-switch span.label {
  margin-left: 0.5rem;
  vertical-align: bottom;
}

/* ---------------------------- switch from w3 ---------------------------- */

.options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-align: start;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed grey;
}
